.card-portfolio {
    padding: 2rem 0 4rem;
    margin: auto;
    /* min-height: 70vh; */
}

.cp-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cp-text {
    margin-bottom: 30px;
    line-height: 1.5em;
}

@media screen and (max-width: 991) {
    .card-portfolio {
        min-height: 50vh;
    }
}

@media screen and (max-width: 576px) {
    .card-portfolio {
        padding: 0;
        margin-top: 5rem;
        /* min-height: 0; */
    }

    .cp-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .cp-text {

        margin-bottom: 30px;
        line-height: 1.5em;
    }
}


/* ===================== BUTTON ================== */
.cp-button {
    display: inline-flex;
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(76, 56, 252, 0.4);
    text-decoration: none;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.cp-button-wrapper> :nth-child(1) {
    margin-right: 10px;
}

.cp-button:hover .cp-button-icon {
    transform: translateX(.25rem);
}

@media screen and (max-width: 576px) {
    .cp-button {
        width: 100%;
        padding: 10px;
    }

    .cp-project-button {
        font-weight: 500;
    }

    .cp-button-wrapper> :nth-child(1) {
        margin-bottom: 10px;
    }
}

.cp-project-button {
    display: inline-block;
    background-color: var(--darkPurple);
    color: #FFF;
    border-radius: 5rem;
    font-weight: 500;
}

.cp-project-button:hover {
    background-color: hsl(250, 55%, 50%);
    color: #FFF;
}

.cp-button-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.cp-button-flex {
    display: inline-flex;
    align-items: center;
}

/* ===================== CP-PROJECT ================== */
.cp-project {
    width: 95%;
    height: 400px;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: all 0.3s;
    background-color: hsl(250, 66%, 99%);
}


@media screen and (max-width: 992px) {
    .cp-project {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .cp-project {
        min-height: 500px;
        height: auto;
        margin: 6rem auto;
    }
}

@media screen and (max-width: 576px) {
    .cp-project {
        min-height: 450px;
        height: auto;
        margin: auto;
    }
}


/* ===================== CP-ITEM ================== */
.cp-item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .cp-item {
        flex-direction: column;
    }
}

.cp-item .cp-img img {
    opacity: 1;
    transition-delay: 0.3s;
}

/* ===================== CP-IMG ================== */
.cp-img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    box-shadow: 4px 13px 30px 1px rgba(57, 158, 218, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}

.cp-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}

.cp-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .cp-img {
        transform: translateY(-50%);
        width: 90%;
        height: auto;
    }

    .cp-img img {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .cp-img {
        width: 80%;
        height: auto;
    }
}

/* ===================== CP-CONTENT ================== */
.cp-content {
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    .cp-content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .cp-content {
        padding: 0;
        transform: translateY(10px);

    }

    .cp-content> :nth-child(3) {
        margin-bottom: 10px;
    }
}

.cp-content>* {
    /* opacity: 0; */
    transform: translateY(25px);
    transition: all 0.4s;
}